@import "tailwindcss";

/* use variables injected by next/font */
.font-modern-negra-demo { font-family: var(--font-negra), sans-serif; }
.font-mona-sans { font-family: var(--font-mona), sans-serif; }
.font-dm-serif-text { font-family: var(--font-dmserif), serif; }


html,
body {
  width: 100%;
  font-family: var(--font-mona), sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* hero bg noise overlay effect */
.noisy {
  @apply inset-0 size-full bg-[url("/images/noise.png")];
}

/* about-us noisy bg  */
.noisy-about {
  @apply rounded-3xl bg-[url("/images/noise.png")];
}

/* hero title animation */
@utility text-gradient {
  background: linear-gradient(to bottom, #ffffff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* Art section: mask-image */
.masked-img {
  mask-image: url("/images/mask-img.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 50%;
}